<%+ extend('layout') %>

  <%+ section('content') %>
    <% if(giveaway) { %>
    <span id = "giveaway_name" style="display: none;"><%= giveaway._id %></span>
        <div class="container">
          <div class="row">

            <div class="col s12 m12">
              <div class="col s12 ">
                <div class="card ">
                  <div class="card-content white-text">
                    <nav>
                      <div class="nav-wrapper">
                        <div class="col s12">
                          <a href="/" class="breadcrumb">Home</a>
                          <a href="#" class="breadcrumb">
                            <%= giveaway.name %>
                          </a>
                        </div>
                      </div>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- yo -->
      <div class="container">

          <div class="col s12 m12">
            <div class="col s12 ">
              <div class="card ">
                <div class="card-content">
                Tasks:
                  <ul class="collapsible popout" data-collapsible="accordion">
                  <% for(let i = 0; i<giveaway.tasks.length; i++){ %>
                    <li>
                    <% if(giveaway.tasks[i].linkType != 'steam') { %>
                      <div class="collapsible-header"><i class="material-icons">filter_drama</i><%= giveaway.tasks[i].linkType %></div>
                      <div class="collapsible-body"><span class="non-steam">You should go through this link: <a href="<%=giveaway.tasks[i].instance%>" task="<%=giveaway.tasks[i].id%>" target="_blank">Click here</a></span></div>
                    <%} else { %>
                       <div class="collapsible-header"><i class="material-icons">filter_drama</i><%= giveaway.tasks[i].linkType %></div>
                      <div class="collapsible-body"><span>You should join this group : <a href="<%=giveaway.tasks[i].instance%>" target="_blank">Click here</a></span><button class="waves-effect waves-light btn">Verify</button></div>
                    <% } %>
                    </li>
                    <% }%>
                  </ul>
                </div>

              </div>
            </div>
          </div>
      </div>
      <% }else{ %>
        <h1>Giveaway not found!</h1>
        <% } %>
          <%+ endSection %>