<%+ extend('layout') %>

	<%+ section('content') %>

		<div class="container">
			<% for(let i = 0; i<giveaways.length; i++){ %>
				<div class="row">

					<div class="col s12 m12">

						<div class="card blue-grey darken-1">

							<div class="col s12 ">
								<div class="card blue-grey darken-1">
									<div class="card-content white-text">
										<span class="card-title"><%= giveaways[i].name %></span>
										<p>Created at:
											<%= giveaways[i].createdAt %> <br> Finished at:
												<%= giveaways[i].finishDate %>
										</p>
									</div>
									<div class="card-action">
										<a href="/giveaway/<%= giveaways[i]._id %>">Go to giveaway</a>

									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<% } %>
		</div>
		<%+ endSection %>